pre {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 5px;
  overflow-x: auto;
  white-space: pre-wrap;
}
code {
  font-family: Consolas, Monaco, 'Courier New', monospace;
}

h1 {
  margin: 5rem 0 2rem 0 !important;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #ccc;
}
